@use 'sass:math';

.promo {
  padding: 0 20px 45px;
  background-color: #fff;

  @media (min-width: $screen-sm) {
    padding: 0 40px 60px;
  }

  @media (min-width: $screen-lg) {
    padding: 0 40px 60px;
  }

  &__container {
    display: grid;
    grid-template: 'info' 'media'  / 1fr;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    gap: 30px;

    @media (min-width: $screen-xs) {
      grid-template: 'info media' / 1fr 1fr;
      gap: 40px;
    }

    @media (min-width: $screen-md) {
      grid-template: 'info . media' / 5fr 1fr 6fr;
      gap: 40px;
    }
  }

  &__info {
    grid-area: info;
    align-self: center;
    padding-top: 45px;

    @media (min-width: $screen-md) {
      padding-top: 0;
    }
  }

  &__title {
    margin: 0 0 30px;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;
  }

  &__text {
    margin: 0 0 45px;
    font-size: 15px;
    line-height: 1.5em;
  }

  &__media {
    position: relative;
    grid-area: media;

    &::after {
      display: block;
      padding-bottom: math.div(4, 3) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
