@use 'sass:math';

.article-card {

  &__media {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 0 30px;
    overflow: hidden;

    &::after {
      display: block;
      padding-bottom: math.div(9, 16) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transition: transform 1.5s $transition-t;
      transform: scale(1.05);
      object-fit: cover;
    }

    &:hover {

      img {
        transform: scale(1);
      }
    }
  }

  &__data-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__data-item {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 30px 0 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4em;

    a {
      font-weight: 500;
      color: $primary-c;
      text-decoration: none;
      transition: color 0.25s $transition-t;

      &:hover,
      &:focus {
        color: $text-c;
      }
    }

    time {
      opacity: 0.5;
    }

    svg {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__title {
    margin: 10px 0 20px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2em;
  }
}
