mixin article-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' article-card--' + modsList[i].trim();
      }
    }

  article.article-card(class=allMods)&attributes(attributes)
    a.article-card__media(href='/')
      img(src=props.media, alt='', width='295', height='320')
    ul.article-card__data-list
      li.article-card__data-item
        a(href='')!= props.category
      li.article-card__data-item
        time!= props.date
    h2.article-card__title!= props.title
    ul.article-card__data-list
      li.article-card__data-item
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 14', width='16', height='14')
          path(stroke-linejoin='round', d='M1 5.8c0 2.65097 3.13401 4.8 7 4.8.13651 0 .2721-.0027.40668-.008.49066-.0192.98181.0979 1.3832.3808L12.6667 13l-.5711-1.4238c-.3645-.9091-.0072-1.94041.7405-2.57302C13.9594 8.0528 15 6.81321 15 5.8 15 3.14903 11.866 1 8 1 4.13401 1 1 3.14903 1 5.8z')
        span!= props.comments
      li.article-card__data-item
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1.29366 5.1459c-.391547 1.20506-.391547 2.50314 0 3.7082.39155 1.2051 1.15454 2.2552 2.17963 3C4.49837 12.5989 5.73292 13 7 13s2.50163-.4011 3.5267-1.1459c1.0251-.7448 1.7881-1.7949 2.1796-3 .3916-1.20506.3916-2.50314 0-3.7082-.3915-1.20506-1.1545-2.25523-2.1796-3C9.50163 1.40113 8.26708 1 7 1v2.57143M7 7L4.42857 4.42857')
        span!= props.reading