mixin slider-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-nav--' + modsList[i].trim();
      }
    }

  .slider-nav(class=allMods)&attributes(attributes)
    button.slider-nav__btn.slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
        path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h15m0 0L11.5 1M16 5.5L11.5 10')
    button.slider-nav__btn.slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
        path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h15m0 0L11.5 1M16 5.5L11.5 10')