.featured-webinar {
  position: relative;
  color: #fff;
  background-color: $text-c;

  &__info {
    position: relative;
    z-index: 2;
    padding: 45px 20px;

    @media (min-width: $screen-sm) {
      padding: 75px 40px 60px;
    }

    @media (min-width: $screen-lg) {
      padding: 90px 40px 60px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin-bottom: 60px;
    color: $text-c;
    background-color: #fff;
    border-radius: 150px;

    @media (min-width: $screen-lg) {
      width: 220px;
      height: 220px;
      border-radius: 220px;
    }
  }

  &__day {
    font-size: 56px;
    font-weight: 600;
    line-height: 1em;
    color: $primary-c;

    @media (min-width: $screen-lg) {
      font-size: 80px;
    }
  }

  &__month {
    font-size: 14px;
    line-height: 1.4em;

    @media (min-width: $screen-sm) {
      font-size: 20px;
    }
  }

  &__subtitle {
    position: relative;
    display: inline-block;
    margin: 0 0 30px;
    font-size: 14px;
    line-height: 1.4em;

    &::after {
      position: absolute;
      top: 50%;
      left: calc(100% + 15px);
      width: 45px;
      height: 1px;
      content: '';
      background-color: #fff;
    }
  }

  &__title {
    max-width: 20ch;
    margin: 0 0 15px;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;

    @media (min-width: $screen-lg) {
      margin: 0 0 30px;
      font-size: 56px;
    }
  }

  &__desc {
    max-width: 65ch;
    font-size: 16px;
    line-height: 1.5em;
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
