mixin testimonial-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' testimonial-card--' + modsList[i].trim();
      }
    }

  .testimonial-card(class=allMods)&attributes(attributes)
    .testimonial-card__rate(class='testimonial-card__rate--' + props.rate)
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 90 14', width='90', height='14')
        path(d='M7 0L5.2973 5.26241 0 5.3617l4.25676 3.37589L2.74324 14 7 10.8227 11.3514 14 9.83784 8.73759 14 5.3617l-5.2027-.09929L7 0z')
        path(d='M26 0l-1.7027 5.26241L19 5.3617l4.2568 3.2766L21.6486 14 26 10.8227 30.3514 14l-1.5136-5.3617L33 5.3617l-5.2027-.09929L26 0z')
        path(d='M45 0l-1.7027 5.26241L38 5.3617l4.1622 3.37589L40.6487 14 45 10.8227 49.3513 14l-1.5135-5.26241L52 5.3617l-5.2973-.09929L45 0z')
        path(d='M64 0l-1.7973 5.26241L57 5.3617l4.1622 3.37589L59.6486 14 64 10.8227 68.3514 14l-1.6082-5.26241L71 5.3617l-5.2973-.09929L64 0z')
        path(d='M83 0l-1.7973 5.26241L76 5.3617l4.1622 3.37589L78.6487 14 83 10.8227 87.2568 14l-1.5136-5.26241L90 5.3617l-5.2973-.09929L83 0z')
    .testimonial-card__quote
      p!= props.quote
    .testimonial-card__quotee
      img.testimonial-card__quotee-avatar(src=props.avatar, alt='', width='60', height='60')
      .testimonial-card__quotee-info
        .testimonial-card__quotee-name!= props.name
        .testimonial-card__quotee-account!= props.account