.testimonial-card {

  &__rate {
    margin: 0 0 30px;

    svg {
      display: block;
    }

    svg path {
      fill: #e2dccf;
    }

    &--bad {

      svg path:nth-child(1) {
        fill: #eba414;
      }
    }

    &--poor {

      svg path:nth-child(1),
      svg path:nth-child(2) {
        fill: #eba414;
      }
    }

    &--fair {

      svg path:nth-child(1),
      svg path:nth-child(2),
      svg path:nth-child(3) {
        fill: #eba414;
      }
    }

    &--good {

      svg path:nth-child(1),
      svg path:nth-child(2),
      svg path:nth-child(3),
      svg path:nth-child(4) {
        fill: #eba414;
      }
    }

    &--excellent {

      svg path {
        fill: #eba414;
      }
    }
  }

  &__quote {
    margin: 0 0 30px;
    font-family: $font-f--serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.3em;

    p {
      position: relative;
      display: inline;

      &::before {
        content: '“';
      }

      &::after {
        content: '”';
      }

      @media (min-width: $screen-lg) {

        &::before {
          position: absolute;
          top: 0;
          right: calc(100% + 3px);
          content: '“';
        }

        &::after {
          margin-left: 3px;
          content: '”';
        }
      }
    }
  }

  &__quotee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__quotee-avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    border-radius: 60px;
    object-fit: cover;
  }

  &__quotee-name {
    font-size: 14px;
    line-height: 1.45em;
  }

  &__quotee-account {
    font-size: 12px;
    line-height: 1.5em;
    opacity: 0.5;
  }
}
