.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d9d9;

  &__btn {
    padding: 15px 20px;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    svg {
      display: block;
      stroke: currentColor;
    }

    @media (min-width: $screen-sm) {
      padding: 25px 30px;
    }
  }

  &__pages {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0 15px;
      font-size: 14px;
      line-height: 1.4em;
    }

    span {
      cursor: default;
    }

    a {
      position: relative;
      color: currentColor;
      text-decoration: none;
      opacity: 0.5;
      transition: 0.25s $transition-t;

      &::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        left: -0.5em;
        content: '';
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
