mixin pagination(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  .pagination(class=allMods)&attributes(attributes)
    button.pagination__btn.pagination__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 10', width='16', height='10')
        path(stroke-linecap='round', stroke-linejoin='round', d='M15 5H1m0 0l4-4M1 5l4 4')
    ul.pagination__pages
      li: span 1
      li: a(href='/') 2
      li: a(href='/') 3
    button.pagination__btn.pagination__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 10', width='16', height='10')
        path(stroke-linecap='round', stroke-linejoin='round', d='M1 5h14m0 0l-4-4m4 4l-4 4')