.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 0s linear 0.75s;

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $text-c;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster;
  }

  &__wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    color: $text-c;
    background-color: #fff;
    transition: transform 0.75s $transition-t--faster;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    opacity: 0;
    transition: all 1.75s $transition-t--faster;
    transform: translateX(2.5rem);

    @media (min-width: $screen-sm) {
      padding: 25px 40px;
    }
  }

  &__close {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    overflow: visible;
    color: currentColor;
    vertical-align: middle;
    cursor: pointer;
    background-color: $text-c;
    border: none;
    border-radius: 2.5rem;
    outline: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
      background-color: $primary-c;
      border-radius: 2.5rem;
      transition: transform 1s $transition-t--faster;
      transform: scale(0);
      transform-origin: center center;
    }

    &:hover {

      &::before {
        transform: scale(1.05);
      }

      .sidebar__close-icon {
        transition-delay: 0.1s;
        transform: translateX(0) rotate(90deg);
      }
    }
  }

  &__close-icon {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    pointer-events: none;
    transition: transform 0.75s $transition-t--faster;

    svg {
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      transition: stroke 0.75s $transition-t--faster;
      stroke: #fff;
      stroke-width: 2px;
    }
  }

  &__main {
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 1.75s $transition-t--faster, transform 1.75s $transition-t--faster;
    transition-delay: 0.2s;
    transform: translateX(2.5rem);

    @media (min-width: $screen-sm) {
      padding: 25px 40px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 2.25rem;
    font-family: $font-f--serif;
    font-size: ms(2);
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    text-align: right;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    li {
      padding: 0;
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 1.4em;
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      transition: 0.25s $transition-t;

      &:hover,
      &:focus {
        color: $primary-c;
      }
    }

    &--categories {

      li {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3em;
      }
    }
  }

  &--is-active {
    visibility: visible;
    transition-delay: 0s;

    .sidebar__bg {
      opacity: 0.2;
    }

    .sidebar__wrap,
    .sidebar__header,
    .sidebar__main {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
