mixin sidebar()

  aside.sidebar(id='sidebar-modal')
    .sidebar__bg
    .sidebar__wrap
      header.sidebar__header
        button.sidebar__close
          span.sidebar__close-icon
            svg(viewbox='0 0 29 29')
              g(fill='none', fill-rule='evenodd', stroke-linecap='square')
                path(d='M1.253 1.678l25.844 25.844')
                path(d='M1.253 27.522L27.097 1.678')
      .sidebar__main
        ul.sidebar__nav-list.sidebar__nav-list--categories
          li: a(href='/') PRO-копирайтинг
          li: a(href='/') Заработок на копирайтинге
          li: a(href='/') Маркетинг
          li: a(href='/') Новости
          li: a(href='/') Основы копирайтинга
          li: a(href='/') Продающие тексты
          li: a(href='/') Русский язык
          li: a(href='/') Сервисы для копирайтеров
          li: a(href='/') Сторителлинг
          li: a(href='/') Тексты для соцсетей
        ul.sidebar__nav-list
          li: a(href='/') Курсы
          li: a(href='/') Гайды
          li: a(href='/') Вебинары
          li: a(href='/') Статьи
          li: a(href='/') Об основателе
          li: a(href='/') Отзывы
          li: a(href='/') Контакты