mixin breadcrumbs(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs--' + modsList[i].trim();
      }
    }

  ul.breadcrumbs(class=allMods)&attributes(attributes)
    block



mixin breadcrumbs-item(text, href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' breadcrumbs__item--' + modsList[i].trim();
      }
    }

  li.breadcrumbs__item(class=allMods)&attributes(attributes)

    if (typeof(href) !== 'undefined' && href)
      a(href=href)!= text
    else
      span!= text