.breadcrumbs {
  display: flex;
  padding: 10px 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &__item {
    padding: 0;
    font-size: 12px;
    line-height: 1.5em;

    &:not(:last-child) {
      margin: 0 10px 0 0;

      &::after {
        display: inline-flex;
        margin-left: 10px;
        content: '/';
      }
    }

    a {
      color: currentColor;
      opacity: 0.5;
    }
  }
}
