mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__logo-wrap
        a.page-header__logo(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 41 28', width='41', height='28')
            path(d='M0 0h10.5911v4.98942H8.07604V27.6376H2.51503V4.98942H0V0z')
            path(d='M14.5887 12.2791h1.034c1.5649 0 2.8037.4089 3.7166 1.2265.9315.8176 1.3972 2.1277 1.3972 3.9302v3.2612h-6.1478v3.0104c0 .4832.1677.7247.503.7247.354 0 .531-.2415.531-.7247v-2.0069h5.1138v1.3658c0 1.561-.4564 2.7781-1.3692 3.6515C18.4544 27.5726 17.2062 28 15.6227 28h-1.034c-3.5397 0-5.30951-1.7096-5.30951-5.1288v-5.3518c0-1.6724.44712-2.9639 1.34131-3.8744.8943-.9106 2.217-1.3659 3.9682-1.3659zm0 4.0417v1.5331h1.034v-1.5331c0-.3344-.0373-.5574-.1118-.6689-.0559-.1301-.1956-.1951-.4192-.1951-.2049 0-.3446.065-.4192.1951-.0559.1115-.0838.3345-.0838.6689z')
            path(d='M22.5034 19.5821l-2.0959-6.9406h5.2816l.6707 3.9302.5868-3.9302h5.2257l-2.0679 6.8012 2.2076 8.1949h-5.3374l-.7266-4.2089-.7825 4.2089h-5.1697l2.2076-8.0555zM41 27.6376h-5.1139c-.503 0-.9501-.1765-1.3413-.5296-.3726-.353-.5589-.8919-.5589-1.6166v-8.5852h-1.6767v-4.2647h1.6767V7.65207h5.4492v4.98943H41v4.2647h-1.5649v5.8814c0 .1858.0279.3159.0838.3902.0559.0743.1863.1115.3913.1115H41v4.3483zM17.3547 8.37917l.9901-1.96935 2.8197-5.26123-1.1117 6.20837c-.0926.51399-.2432.63527-.9264.73923l-.0579.28298h3.4914l.0579-.28298c-.6311-.10396-.7064-.21946-.6138-.73923l1.1348-6.295c.0927-.502447.2316-.629502.9033-.739231L24.1.0397423h-2.9124L18.1479 6.10373 17.3837.0397423h-2.8139l-.0579.2829867c.6253.115504.7411.369614.5616 1.091521l-1.2796 5.20348c-.2779 1.11462-.4516 1.36295-1.1638 1.47846l-.0636.28298h2.2059l.0637-.28298c-.7064-.10973-.7758-.33497-.5269-1.47846l1.158-5.31899.938 7.08043h.9495zM26.6417 2.57507l-2.5359.28876-.0579.27144.301.08662c.278.09241.3416.20791.2664.54288l-.9843 4.6144h1.818l.7469-3.61529c.3127-.50822.9554-.86051 1.6559-.86051.2664 0 .4748.04043.6138.0924.0752-.12705.1621-.37539.1621-.64105 0-.47356-.2027-.80275-.6485-.80275-.5848 0-1.0074.53132-1.7485 1.9578l.411-1.9347zM28.6335 8.47735c.5558 0 1.0132-.42736 1.0132-.98756 0-.51977-.4169-.93559-.9785-.93559-.5558 0-1.0132.42159-1.0132.98757 0 .51977.4169.93558.9785.93558z')
      nav.page-header__nav
        ul
          li: a(href='/') Курсы
          li: a(href='/') Гайды
          li: a(href='/') Вебинары
          li: a(href='/') Статьи
      .page-header__burger-wrap
        button.page-header__burger
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 42 12', width='42', height='12')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h40')
            path(stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 11h40')

