.page-header {
  position: relative;
  z-index: 100;
  padding: 15px 20px;

  @media (min-width: $screen-sm) {
    padding: 30px 40px;
  }

  &__container {
    display: grid;
    grid-template: 'logo nav burger' / 1fr minmax(0, 1080px) 1fr;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    gap: 0 30px;
  }

  &__logo-wrap {
    display: flex;
    grid-area: logo;
    align-self: center;
    justify-content: center;
  }

  &__logo {
    display: inline-flex;
    color: currentColor;
    text-decoration: none;

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__nav {
    display: flex;
    grid-area: nav;
    align-self: center;
    justify-content: flex-end;

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    li {
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    a {
      position: relative;
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        transition: transform 0.5s $transition-t;
        transform: scaleX(0);
        transform-origin: center right;
      }

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__burger-wrap {
    display: flex;
    grid-area: burger;
    align-self: center;
    justify-content: center;
  }

  &__burger {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      overflow: visible;
      stroke: currentColor;

      path {
        transition: all 0.5s $transition-t;
      }
    }

    &:hover,
    &:focus {

      svg {

        path {

          &:nth-child(1) {
            transform: translateY(-2px);
          }

          &:nth-child(2) {
            transform: translateY(2px);
          }
        }
      }
    }
  }
}
