.categories {
  padding: 0 20px 45px;

  @media (min-width: $screen-sm) {
    padding: 0 40px 75px;
  }

  &__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__breadcrumbs {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin: 0 0 30px -0.1em;
    font-size: 39px;
    line-height: 1.1em;

    @media (min-width: $screen-sm) {
      margin: 0 0 60px -0.1em;
      font-size: 56px;
    }

    @media (min-width: $screen-xl) {
      font-size: 80px;
    }
  }

  &__nav-caption {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    color: $primary-c;

    @media (min-width: $screen-sm) {
      margin-bottom: 30px;
    }
  }

  &__nav-list {
    padding: 0;
    margin: 0 0 60px;
    list-style: none;

    @media (min-width: $screen-sm) {
      columns: 4;
      gap: 40px;
    }

    li {
      padding: 0;
      margin: 0 0 5px;
      font-size: 14px;
      line-height: 1.4em;
    }

    a {
      position: relative;
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        transition: transform 0.75s $transition-t;
        transform: scaleX(0);
        transform-origin: center right;
      }

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }
  }

  &__list {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @media (min-width: $screen-xs) {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 60px 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__pagination {
    margin-top: 45px;

    @media (min-width: $screen-sm) {
      margin-top: 60px;
    }
  }
}
