.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  padding: 20px 35px;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.45em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: $primary-c;
  background-image: none;
  border: none;
  border-radius: 0;
  transition: all 0.25s $transition-t;

  &:hover,
  &:focus {
    background-color: darken($primary-c, 10%);
  }
}
