.article {
  padding: 0 20px 45px;

  @media (min-width: $screen-sm) {
    padding: 0 40px 75px;
  }

  &__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__breadcrumbs {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      margin-bottom: 45px;
    }
  }

  &__layout {
    display: grid;
    gap: 30px;
    grid-template:
      'media'
      'data'
      'main'
      'share'
      'side' / 1fr;

    @media (min-width: $screen-md) {
      gap: 40px;
      grid-template:
        'data media media'
        'share main side' / 2fr 7fr 3fr;
    }
  }

  &__data {
    display: flex;
    grid-area: data;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__writer {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__writer-avatar {
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
    border-radius: 60px;

    @media (min-width: $screen-md) {
      margin: 0 0 15px;
    }
  }

  &__writer-name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3em;

    @media (min-width: $screen-md) {
      text-align: center;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 1.5em;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
      transform: rotate(180deg);
      writing-mode: vertical-lr;
    }

    span {
      display: inline-block;

      @media (min-width: $screen-md) {
        position: relative;

        &::after {
          position: absolute;
          top: calc(100% + 30px);
          left: 50%;
          width: 1px;
          height: 75px;
          content: '';
          background-color: currentColor;
          opacity: 0.125;
        }
      }
    }
  }

  &__media {
    grid-area: media;

    img {
      display: block;
    }
  }

  &__share {
    display: flex;
    grid-area: share;

    @media (min-width: $screen-md) {
      justify-content: center;
    }
  }

  &__share-list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0 0 10px;

      @media (max-width: ($screen-md - 1px)) {
        margin: 0 10px 10px 0;
      }
    }

    @media (max-width: ($screen-md - 1px)) {
      display: flex;
    }
  }

  &__main {
    grid-area: main;
    max-width: 720px;

    p {

      @media (min-width: $screen-sm) {
        font-size: 20px;
        line-height: 1.4em;
      }
    }
  }

  &__side {
    grid-area: side;
  }

  &__side-block {

    &:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #d9d9d9;
    }
  }
}
