@use 'sass:math';

.appeal {
  padding: 45px 20px;
  background-color: #fff;

  @media (min-width: $screen-sm) {
    padding: 60px 40px 75px;
  }

  @media (min-width: $screen-lg) {
    padding: 60px 40px 120px;
  }

  &__container {
    display: grid;
    grid-template: 'media' 'info' / 1fr;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    gap: 30px;

    @media (min-width: $screen-xs) {
      grid-template: 'media info' / 1fr 1fr;
      gap: 40px;
    }

    @media (min-width: $screen-md) {
      grid-template: 'media . info' / 6fr 1fr 5fr;
      gap: 40px;
    }
  }

  &__media {
    position: relative;
    grid-area: media;

    &::after {
      display: block;
      padding-bottom: math.div(4, 3) * 100%;
      content: '';
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    grid-area: info;
    align-self: center;
  }

  &__quote {
    margin: 0 0 30px;
    font-family: $font-f--serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3em;

    @media (min-width: $screen-sm) {
      font-size: 28px;
      line-height: 1.2em;
    }

    p {
      position: relative;

      &::before {
        content: '“';

        @media (min-width: $screen-sm) {
          position: absolute;
          top: 0;
          right: calc(100% + 2px);
        }
      }

      &::after {
        margin-left: 2px;
        white-space: nowrap;
        content: '”';
      }
    }
  }

  &__quotee {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: 0 0 30px;

    @media (min-width: $screen-sm) {
      margin: 0 0 45px;
    }
  }

  &__signature {
    margin-right: 15px;

    svg {
      display: block;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4em;
  }
}
