.field-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0.75rem 1rem;
  margin-bottom: 1.5rem;
  background-color: $bg-c--shade;
  border: 1px solid $border-c;

  @media (min-width: $screen-sm) {
    padding: 0.75rem 1.5rem;
  }

  &__title {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: rgba($text-c, 0.25);

    &:hover,
    .field-rating__input:nth-of-type(1):checked ~ .field-rating__label:nth-of-type(1),
    .field-rating__input:nth-of-type(2):checked ~ .field-rating__label:nth-of-type(-n+2),
    .field-rating__input:nth-of-type(3):checked ~ .field-rating__label:nth-of-type(-n+3),
    .field-rating__input:nth-of-type(4):checked ~ .field-rating__label:nth-of-type(-n+4),
    .field-rating__input:nth-of-type(5):checked ~ .field-rating__label:nth-of-type(-n+5) {
      color: $primary-c;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }

  &__label {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {
      padding-right: 1rem;
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &:hover ~ .field-rating__label {
      color: rgba($text-c, 0.25);
    }
  }
}
