.small-article-card {

  &__media {
    display: block;
    margin: 0 0 10px;
  }

  &__category {
    display: inline-block;
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    color: $primary-c;
    text-decoration: none;
  }

  &__title {
    margin: 0;
    font-family: $font-f--serif;
    font-size: 16px;
    line-height: 1.3em;
  }
}
