mixin more(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-nav--' + modsList[i].trim();
      }
    }

  a.more(href='/', class=allMods)&attributes(attributes)
    svg.more__icon(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 60 60', width='60', height='60')
      circle.more__out(cx='30', cy='30', r='29.5', stroke='#22242a', opacity='.125')
      circle.more__in(cx='30', cy='30', r='29.5', stroke='#c44932')
      g.more__dots.more__dots--first-group
        circle(cx='38', cy='30', r='2', fill='#22242a')
        circle(cx='30', cy='30', r='2', fill='#22242a')
        circle(cx='22', cy='30', r='2', fill='#22242a')
      g.more__dots.more__dots--second-group
        circle(cx='38', cy='30', r='2', fill='#22242a')
        circle(cx='30', cy='30', r='2', fill='#22242a')
        circle(cx='22', cy='30', r='2', fill='#22242a')
