.more {
  display: inline-flex;
  color: currentColor;
  text-decoration: none;

  &:hover {

    .more__in {
      transform: rotate(90deg);
      stroke-dashoffset: 0;
    }

    .more__dots {

      &--first-group {

        circle {
          opacity: 0;
          transform: translate3d(0, -0.25rem, 0);

          @for $i from 1 to 4 {

            &:nth-child(#{$i}) {
              transition-delay: 0s + ($i * 0.05s);
            }
          }
        }
      }

      &--second-group {

        circle {
          opacity: 1;
          transform: translate3d(0, 0, 0);

          @for $i from 1 to 4 {

            &:nth-child(#{$i}) {
              transition-delay: 0.2s + ($i * 0.05s);
            }
          }
        }
      }

      circle {
        transition:
          opacity 0.125s cubic-bezier(0.215, 0.61, 0.355, 1),
          transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  &__icon {
    fill: transparent;
  }

  &__in {
    transition: 1.5s $transition-t--faster;
    transform: rotate(-90deg);
    transform-origin: center center;
    stroke-dasharray: 2 * 3.14 * 29.5;
    stroke-dashoffset: 2 * 3.14 * 29.5;
  }

  &__dots {

    &--first-group {

      circle {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    &--second-group {

      circle {
        opacity: 0;
        transform: translate3d(0, 0.25rem, 0);
      }
    }
  }
}
