extends ../pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block content
  section.article
    .article__container

      .article__breadcrumbs
        +breadcrumbs()
          +breadcrumbs-item('Главная', '/')
          +breadcrumbs-item('Категории')

      .article__layout

        .article__media
          img(src='https://images.unsplash.com/photo-1557425493-6f90ae4659fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80', alt='')

        .article__data
          .article__writer
            img.article__writer-avatar(src='https://images.unsplash.com/photo-1590974569220-be9e53989887?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTMwfDExOTc4MzU0fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
            .article__writer-name
              | Алекс
              br
              | Цельный
          .article__date
            span 01 августа 2021

        .article__share
          ul.article__share-list
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 44', width='40', height='44')
                  path(fill='#34343C', fill-rule='evenodd', d='M23.9014 17.0178v2.2521s-1.7746-.1876-2.169.4692c-.1972.3754-.0986 1.4077-.0986 2.0645H24c-.1972.8446-.2958 1.4076-.493 2.1584h-1.8732V31h-3.2535v-7.038H17v-2.2522h1.3803c.0986-1.5953.0986-3.1906.9859-4.0351.8873-.8446 1.7746-.6569 4.5352-.6569z', clip-rule='evenodd')
                  path(fill='#D9D9D9', d='M20 44C8.97561 44 0 35.0244 0 24S8.97561 4 20 4c.2927 0 .4878.19512.4878.4878 0 .29269-.1951.48781-.4878.48781C9.46342 4.97561.97561 13.4634.97561 24S9.56098 43.0244 20 43.0244c10.439 0 19.0244-8.4878 19.0244-19.0244 0-.2927.1951-.4878.4878-.4878S40 23.7073 40 24c0 11.0244-8.9756 20-20 20z')
                  path(fill='#D9D9D9', d='M16.4911 9c-.0893 0-.2679 0-.3572-.08955-.1785-.17911-.1785-.44776 0-.62687l3.75-3.76119L16.2232.761194c-.1786-.179105-.1786-.447761 0-.626866.1786-.1791041.4464-.1791041.625 0l4.0179 4.029852c.1785.1791.1785.44776 0 .62686l-4.0179 4.02985C16.7589 8.91045 16.5804 9 16.4911 9z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 44', width='40', height='44')
                  path(fill='#D9D9D9', d='M20 44C8.97561 44 0 35.0244 0 24S8.97561 4 20 4c.2927 0 .4878.19512.4878.4878 0 .29269-.1951.48781-.4878.48781C9.46342 4.97561.97561 13.4634.97561 24S9.56098 43.0244 20 43.0244c10.439 0 19.0244-8.4878 19.0244-19.0244 0-.2927.1951-.4878.4878-.4878S40 23.7073 40 24c0 11.0244-8.9756 20-20 20z')
                  path(fill='#D9D9D9', d='M16.4911 9c-.0893 0-.2679 0-.3572-.08955-.1785-.17911-.1785-.44776 0-.62687l3.75-3.76119L16.2232.761194c-.1786-.179105-.1786-.447761 0-.626866.1786-.1791041.4464-.1791041.625 0l4.0179 4.029852c.1785.1791.1785.44776 0 .62686l-4.0179 4.02985C16.7589 8.91045 16.5804 9 16.4911 9z')
                  path(fill='#34343C', d='M28 19.3953c-.4825.3356-1.0489.5138-1.6279.5121.619-.3823 1.0824-.9897 1.3023-1.7068-.5131.4548-1.1596.7109-1.8314.7254-.4429-.4756-1.0209-.7878-1.6474-.8897-.6264-.1019-1.2675.012-1.827.3245-.5595.3126-1.0073.8069-1.276 1.4089-.2688.602-.3441 1.2791-.2147 1.9298-1.1398-.0631-2.2542-.3768-3.2709-.9208-1.0166-.544-1.9128-1.3061-2.6303-2.2368-.3511.6661-.4538 1.4451-.2884 2.1861.1654.7411.5872 1.3913 1.1838 1.8249-.4502.0067-.8959-.0956-1.3023-.2987.0109.6873.2414 1.351.6546 1.8847.4132.5338.9851.9068 1.6244 1.0595-.4255.1165-.8706.1311-1.3023.0427.1862.6089.549 1.1417 1.0378 1.5241.4888.3825 1.0792.5955 1.689.6094-1.2878.819-2.7671 1.2474-4.2733 1.2374 1.2614.8634 2.7267 1.3429 4.2326 1.385 1.5059.0421 2.9934-.3548 4.297-1.1465 1.3035-.7917 2.3719-1.9472 3.0863-3.3378.7143-1.3906 1.0465-2.9618.9597-4.5386.537-.4605 1.0157-.991 1.4244-1.5788z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 44', width='40', height='44')
                  path(fill='#D9D9D9', d='M20 44C8.97561 44 0 35.0244 0 24S8.97561 4 20 4c.2927 0 .4878.19512.4878.4878 0 .29269-.1951.48781-.4878.48781C9.46342 4.97561.97561 13.4634.97561 24S9.56098 43.0244 20 43.0244c10.439 0 19.0244-8.4878 19.0244-19.0244 0-.2927.1951-.4878.4878-.4878S40 23.7073 40 24c0 11.0244-8.9756 20-20 20z')
                  path(fill='#D9D9D9', d='M16.4911 9c-.0893 0-.2679 0-.3572-.08955-.1785-.17911-.1785-.44776 0-.62687l3.75-3.76119L16.2232.761194c-.1786-.179105-.1786-.447761 0-.626866.1786-.1791041.4464-.1791041.625 0l4.0179 4.029852c.1785.1791.1785.44776 0 .62686l-4.0179 4.02985C16.7589 8.91045 16.5804 9 16.4911 9z')
                  path(fill='#34343C', fill-rule='evenodd', d='M16.5306 20.887c0-2.1467 1.6928-3.887 3.7809-3.887 2.0882 0 3.781 1.7403 3.781 3.887 0 2.1468-1.6928 3.8872-3.781 3.8872-2.0881 0-3.7809-1.7404-3.7809-3.8872zm2.218.0001c0 .8874.6998 1.6069 1.5629 1.6069.8632 0 1.563-.7195 1.563-1.6069s-.6998-1.6068-1.563-1.6068c-.8631 0-1.5629.7194-1.5629 1.6068z', clip-rule='evenodd')
                  path(fill='#34343C', d='M21.6464 27.8672c1.5136-.3171 2.4207-1.054 2.4687-1.0935.4429-.3652.514-1.0304.1588-1.4858-.3551-.4554-1.0021-.5285-1.4451-.1634-.0094.0078-.9768.7708-2.5686.7719-1.5917-.0011-2.5796-.7641-2.589-.7719-.443-.3651-1.09-.292-1.4451.1634-.3552.4554-.2841 1.1206.1588 1.4858.0487.0401.9932.7962 2.5492 1.1057l-2.1686 2.3301c-.3942.4202-.3823 1.0893.0264 1.4945.1995.1977.4566.296.7135.296.2694 0 .5385-.1082.7402-.3233l2.0147-2.2064 2.2181 2.2207c.4019.4125 1.0527.4119 1.4539-.0012.4012-.413.4007-1.0822-.0011-1.4946l-2.2848-2.328z')
            li
              a(href='/')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 44', width='40', height='44')
                  path(fill='#D9D9D9', d='M20 44C8.97561 44 0 35.0244 0 24S8.97561 4 20 4c.2927 0 .4878.19512.4878.4878 0 .29269-.1951.48781-.4878.48781C9.46342 4.97561.97561 13.4634.97561 24S9.56098 43.0244 20 43.0244c10.439 0 19.0244-8.4878 19.0244-19.0244 0-.2927.1951-.4878.4878-.4878S40 23.7073 40 24c0 11.0244-8.9756 20-20 20z')
                  path(fill='#D9D9D9', d='M16.4911 9c-.0893 0-.2679 0-.3572-.08955-.1785-.17911-.1785-.44776 0-.62687l3.75-3.76119L16.2232.761194c-.1786-.179105-.1786-.447761 0-.626866.1786-.1791041.4464-.1791041.625 0l4.0179 4.029852c.1785.1791.1785.44776 0 .62686l-4.0179 4.02985C16.7589 8.91045 16.5804 9 16.4911 9z')
                  path(fill='#34343C', fill-rule='evenodd', d='M13.644 19h-1.9688c-.5627 0-.6752.2476-.6752.5213 0 .4875.6671 2.9078 3.1085 6.1078C15.7352 27.8152 18.0281 29 20.1139 29c1.2522 0 1.4071-.2636 1.4071-.7158V26.632c0-.5263.1188-.6316.5149-.6316.2926 0 .7922.1364 1.9616 1.1899C25.3325 28.44 25.5522 29 26.303 29h1.9697c.5626 0 .8444-.2636.6815-.7832-.1774-.517-.8147-1.2682-1.661-2.1583-.4591-.5069-1.1469-1.0534-1.3557-1.3271-.2926-.3512-.2089-.507 0-.8194 0 0 2.3991-3.1613 2.6494-4.2349.126-.3899 0-.6771-.596-.6771h-1.9688c-.5005 0-.7319.2476-.857.5213 0 0-1.0011 2.2829-2.4198 3.7659-.4591.4294-.668.5667-.9182.5667-.1252 0-.3061-.1373-.3061-.5272v-3.6496c0-.4683-.145-.6771-.5627-.6771h-3.095c-.3123 0-.5005.2173-.5005.4236 0 .4438.7094.5465.7823 1.7953v2.7125c0 .5953-.1143.7031-.3655.7031-.667 0-2.2911-2.2939-3.2543-4.9179-.1891-.5103-.3781-.7166-.8813-.7166z', clip-rule='evenodd')

        .article__main
          h1 В чем принцип контент-маркетинга и как его использовать
          p Контент-маркетингом называют маркетинговую стратегию, направленную на перспективу. Последняя не ставит перед собой задачу продать товар здесь и сейчас.
          p Основные инструменты, направленные на решение этой задачи — тексты, или иначе контент, которые маркетологи распространяют среди потенциальных клиентов.
          p Как проявляет себя контент-маркетинг на практике? Допустим, ты открыл свой фитнес-клуб в центре города и желаешь увеличить число посетителей. Для этого тебе необходимо создать собственную группу в одной из популярных социальных сетей и начать наполнять ее интересными постами. Однако в твоих статьях не должно быть прямого призыва к действию. Они должны быть по-настоящему полезными и полностью посвящены фитнес-индустрии.
          p Так, шаг за шагом, ты окружишь себя вниманием клиентов, которые по-настоящему заботятся о своем здоровье. Тогда и следует действовать – опять же потихоньку, ненавязчиво предлагать им пройти курсы для похудения в своем клубе или купить месячный абонемент с 10 % скидкой.
          h2 Какие задачи решает данный инструмент
          p Как уже было сказано выше, основная цель контент-маркетинга — увеличение лояльности со стороны целевой аудитории. По статистике, мягкая ненавязчивая реклама, поданная в виде тематических статей, привлекает к себе в два раза больше внимания.
          p Также согласно популярным маркетинговым исследованиям, прежде чем купить какой-либо продукт, покупатель старается прочесть о нем несколько статей или отзывов.
          figure
            img(src='https://images.unsplash.com/photo-1558403194-611308249627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80', alt='')
            figcaption You X Ventures Studio, Toronto, Canada
          p Однако главной конечной целью является все же продажа товара. Именно на это направлены все усилия маркетинговых агентств.
          p В контент-маркетинге часто используется так называемая воронка продаж.
          h2 Плюсы и минусы контент-маркетинга
          p Как и у любой маркетинговой стратегии, у контент-маркетинга имеются свои плюсы и минусы. Остановимся на них подробнее.
          h3 Повышение узнаваемости бренда
          p Благодаря постоянным публикациям в социальных сетях, тематических блогах название компании становится на слуху. Подобного рода реклама обладает большой эффективностью, в отличие от баннерной, к которой люди все чаще относятся как к бесполезным обоям.
          blockquote Контент, размещенный в пабликах, помогает посетителям решить проблемы и делится полезными советами
          p Эта рекламная стратегия вряд ли поможет достичь успеха фирмам, занимающимся предоставлением услуг из сферы «здесь и сейчас»: такси, парикмахерским, компаниям, выполняющим различные сантехнические работы. Зато она отлично подойдет для застройщика, магазина одежды или гипермаркета.

        .article__side
          .article__side-block
            img(src='https://images.unsplash.com/photo-1626717308652-bce54409ada6?ixid=MnwxMjA3fDB8MHxwcm9maWxlLWxpa2VkfDEzfHx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60', alt='')
          .article__side-block
            article.small-article-card
              img.small-article-card__media(src='https://images.unsplash.com/photo-1612991237158-7edd0a803d22?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1498&q=80', alt='')
              a.small-article-card__category(href='/') Маркетинг
              h3.small-article-card__title Что такое постинг и как его сделать простым и быстрым
          .article__side-block
            +btn('Подписаться на телеграм канал', '/')




  section.featured-articles
    .featured-articles__container
      +slider-progressbar().featured-articles__slider-progressbar
      .featured-articles__control
        h2.featured-articles__title
          | Свежие новости
          br
          | и статьи
        +more().featured-articles__more
        +slider-nav().featured-articles__slider-nav
      .featured-articles__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403121-aa30fd55fdf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1478&q=80',
              category: 'Маркетинг',
              date: '08.08.2021',
              title: 'Создать чат-бота — миссия выполнима',
              comments: '18',
              reading: '3 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558402989-4778474384c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              category: 'Тексты для соцсетей',
              date: '19.07.2021',
              title: 'Получи бесплатный контент-план для Инстаграм на сентябрь 2021',
              comments: '0',
              reading: '5 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558402529-d2638a7023e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80',
              category: 'PRO-копирайтинг',
              date: '20.08.2021',
              title: 'Узнай как выглядит идеальное портфолио для копирайтера',
              comments: '3',
              reading: '15 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403194-611308249627?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              category: 'Русский язык',
              date: '03.08.2021',
              title: 'Как правильно: в следствии или вследствие',
              comments: '7',
              reading: '8 мин.'
            })