extends ../pug/layout.pug

block meta
  - var title = 'Categories';
  title= title
  meta(name='description', content='')

block content
  section.categories
    .categories__container

      .categories__breadcrumbs
        +breadcrumbs()
          +breadcrumbs-item('Главная', '/')
          +breadcrumbs-item('Категории')

      h1.categories__title Статьи

      .categories__nav
        .categories__nav-caption Направления
        ul.categories__nav-list
          li: a(href='/') PRO-копирайтинг
          li: a(href='/') Заработок на копирайтинге
          li: a(href='/') Маркетинг
          li: a(href='/') Новости
          li: a(href='/') Основы копирайтинга
          li: a(href='/') Продающие тексты
          li: a(href='/') Русский язык
          li: a(href='/') Сервисы для копирайтеров
          li: a(href='/') Сторителлинг
          li: a(href='/') Тексты для соцсетей
      ul.categories__list
        li.categories__item
          +article-card({
            media: 'https://images.unsplash.com/photo-1558403121-aa30fd55fdf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1478&q=80',
            category: 'Маркетинг',
            date: '08.08.2021',
            title: 'Создать чат-бота — миссия выполнима',
            comments: '18',
            reading: '3 мин.'
          })
        li.categories__item
          +article-card({
            media: 'https://images.unsplash.com/photo-1558402989-4778474384c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
            category: 'Тексты для соцсетей',
            date: '19.07.2021',
            title: 'Получи бесплатный контент-план для Инстаграм на сентябрь 2021',
            comments: '0',
            reading: '5 мин.'
          })
        li.categories__item
          +article-card({
            media: 'https://images.unsplash.com/photo-1558402529-d2638a7023e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80',
            category: 'PRO-копирайтинг',
            date: '20.08.2021',
            title: 'Узнай как выглядит идеальное портфолио для копирайтера',
            comments: '3',
            reading: '15 мин.'
          })
        li.categories__item
          +article-card({
            media: 'https://images.unsplash.com/photo-1558403194-611308249627?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
            category: 'Русский язык',
            date: '03.08.2021',
            title: 'Как правильно: в следствии или вследствие',
            comments: '7',
            reading: '8 мин.'
          })

      .categories__pagination
        +pagination()