extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.promo
    .promo__container
      .promo__info
        h1.promo__title Как писать тексты для соцсетей, сайта и рекламы
        .promo__text
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
        +btn('Получить 1-й урок', '/')
      .promo__media
        img(src='https://images.unsplash.com/photo-1548213238-0da7521bd6e0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=728&q=80', alt='')



  section.featured-articles
    .featured-articles__container
      +slider-progressbar().featured-articles__slider-progressbar
      .featured-articles__control
        h2.featured-articles__title
          | Свежие новости
          br
          | и статьи
        +more().featured-articles__more
        +slider-nav().featured-articles__slider-nav
      .featured-articles__slider
        .swiper-wrapper
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403121-aa30fd55fdf4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1478&q=80',
              category: 'Маркетинг',
              date: '08.08.2021',
              title: 'Создать чат-бота — миссия выполнима',
              comments: '18',
              reading: '3 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558402989-4778474384c9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              category: 'Тексты для соцсетей',
              date: '19.07.2021',
              title: 'Получи бесплатный контент-план для Инстаграм на сентябрь 2021',
              comments: '0',
              reading: '5 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558402529-d2638a7023e9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80',
              category: 'PRO-копирайтинг',
              date: '20.08.2021',
              title: 'Узнай как выглядит идеальное портфолио для копирайтера',
              comments: '3',
              reading: '15 мин.'
            })
          .swiper-slide
            +article-card({
              media: 'https://images.unsplash.com/photo-1558403194-611308249627?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80',
              category: 'Русский язык',
              date: '03.08.2021',
              title: 'Как правильно: в следствии или вследствие',
              comments: '7',
              reading: '8 мин.'
            })



  section.featured-webinar
    .featured-webinar__info
      .featured-webinar__container
        .featured-webinar__date
          .featured-webinar__day 21
          .featured-webinar__month августа
        span.featured-webinar__subtitle Вебинар
        h2.featured-webinar__title Релевантность: как добиться в SEO
        .featured-webinar__desc
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
    .featured-webinar__media
      img(src='https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1526&q=80', alt='')



  section.featured-testimonials
    .featured-testimonials__container
      +slider-progressbar().featured-testimonials__slider-progressbar
      .featured-testimonials__control
        h2.featured-testimonials__title
          | Отзывы наших
          br
          | читателей
        +more().featured-testimonials__more
        +slider-nav().featured-testimonials__slider-nav
      .featured-testimonials__slider
        .swiper-wrapper
          .swiper-slide
            +testimonial-card({
              rate: 'excellent',
              quote: 'Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники',
              avatar: 'https://images.unsplash.com/photo-1536344709779-cb4b5af30726?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
              name: 'Ольга Визиткина',
              account: 'vizitkina'
            })
          .swiper-slide
            +testimonial-card({
              rate: 'good',
              quote: 'Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций',
              avatar: 'https://images.unsplash.com/photo-1617505196480-d80d79bfc91c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=774&q=80',
              name: 'Роман Котейкин',
              account: 'cateykin'
            })
          .swiper-slide
            +testimonial-card({
              rate: 'fair',
              quote: 'Твёрдый, как ъ, но и мягкий, словно ь, юноша из Бухары ищет фемину-москвичку для просмотра цветного экрана жизни',
              avatar: 'https://images.unsplash.com/photo-1605405747924-2709f6783d0a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80',
              name: 'Аня Малышарикова',
              account: 'babysharikova'
            })
          .swiper-slide
            +testimonial-card({
              rate: 'excellent',
              quote: 'Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций',
              avatar: 'https://images.unsplash.com/photo-1619667630839-c5f899af401b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80',
              name: 'Светлана Мимимишкина',
              account: 'mimishkina'
            })



  .appeal
    .appeal__container
      .appeal__media
        img(src='https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')
      .appeal__info
        .appeal__quote
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники
        .appeal__quotee
          .appeal__signature
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 120 80', width='120', height='80')
              path(d='M44.1975 2.47292C38.3995 7.909 27.7859 19.7099 23.1858 25.8016c-6.2532 8.3317-12.746 19.7775-17.41793 30.7316C1.45531 66.6952-.796804 75.3546.257376 77.622c.431256.9014 1.701064 1.3658 2.994834 1.038 2.34794-.601 3.28233-1.3658 14.01579-11.2546 6.948-6.3922 12.1471-10.6263 15.669-12.7024 2.8031-1.639 6.349-2.7863 6.349-2.0488 0 .5737-2.8031 4.7532-7.5949 11.3366-8.3615 11.4458-10.8293 15.1609-10.4939 15.7619.1917.3551 1.0782.3278 1.7251-.082.2875-.1912 2.1083-2.2126 4.025-4.5073 4.8636-5.7365 9.0324-9.5063 13.8002-12.4565 3.3302-2.0488 7.8345-3.6605 8.2178-2.9503.2396.4644-.8146 1.9396-2.1802 2.9503-2.0126 1.5297-5.3668 5.2995-7.523 8.4682-1.0303 1.5025-2.0365 2.8956-2.2282 3.1142-.551.519-.4552 1.0927.1677 1.0927.4073 0 2.2042-1.8576 6.5168-6.6927 5.175-5.7912 6.1334-6.7746 7.2355-7.239 1.4615-.6283 2.4677-.7102 2.4677-.1912 0 .6556-1.7969 3.8244-2.9469 5.1356-.6469.7375-1.0781 1.4751-1.0063 1.6117.3115.5736 1.0303.2185 2.1563-1.12 1.2698-1.4751 4.4803-4.0703 5.0553-4.0703.5031 0 .4073.3552-.4313 1.6391-1.5094 2.2673-1.4854 2.1853-1.1979 2.5131.3833.4371 1.1261 0 2.6834-1.6117 1.4614-1.5024 2.875-2.677 2.875-2.4039 0 .1093-.7427 1.3659-1.6771 2.7864-.9104 1.4205-1.6052 2.7044-1.5334 2.8409.0719.1366.4073.2459.7428.2459.4552 0 1.701-1.2293 5.4386-5.4088 7.1636-8.0039 10.8053-11.5277 16.0762-15.516 6.9001-5.2449 12.6502-8.3863 20.2451-11.0634 1.6536-.5737 3.0426-1.0654 3.1146-1.0654.072 0-1.27.7922-2.995 1.721-6.6843 3.7424-15.525 10.4078-24.3178 18.357-2.0605 1.8849-2.3001 2.2127-1.9167 2.7317.5271.7376 1.3896.4371 4.9354-1.639 3.8095-2.2673 6.6845-3.4966 7.8345-3.36.7427.082.7188.1093-1.3896 2.158-1.1979 1.12-3.4979 3.1961-5.1511 4.562-1.6531 1.3658-3.1865 2.6771-3.45 2.8956-.575.519-.3355 1.2566.4073 1.2566.3354 0 3.1385-.9834 6.2771-2.1854 9.3918-3.6058 12.5544-4.4527 17.4899-4.7805l2.396-.1365-2.156.7648c-4.8641 1.7756-11.0214 4.9717-10.8298 5.6.3115 1.0654 11.0688-.6556 15.9088-2.5678 2.491-.9834 3.258-2.0761 2.204-3.2234l-.503-.519.695-.1639c1.677-.3551 4.528-.6829 7.571-.8468 4.073-.2186 5.103-.5191 2.683-.8196-2.037-.2731-6.349 0-9.703.5737-1.39.2459-2.78.4371-3.115.4371-.335 0-2.06 0-3.833-.0273-5.2952-.0547-8.9129.8195-18.4964 4.4526-2.5396.9834-4.648 1.721-4.6719 1.6937-.048-.0547.9823-.9288 2.2521-1.9668 2.4917-1.9942 6.0375-5.2995 6.9959-6.5015.575-.6829.575-.7102.1437-1.2566-.3114-.3824-.7427-.5463-1.5093-.5463-1.2938 0-4.8876 1.3385-6.8522 2.5678-3.2824 2.0488-4.2886 2.6497-4.3605 2.5405-.0958-.082 6.5407-5.9278 8.6251-7.5942.6469-.519 1.6052-1.2839 2.1563-1.7209 8.9126-7.1844 16.6992-11.6644 24.0542-13.8224 1.007-.3005 1.366-.9561.671-1.2566-.814-.3551-7.81 1.3932-12.4823 3.1415-8.0262 2.9775-13.0815 5.8185-20.4847 11.555-4.8636 3.7425-8.4095 7.1571-14.447 13.8498-2.1563 2.4038-2.3001 2.5131-1.749 1.3931.4312-.8741.5271-1.3112.3354-1.557-.3833-.5464-1.0302-.4371-2.3719.4643-1.2219.8469-1.2459.8469-1.5813.2732-.551-.9015-1.5333-.7102-4.2167.7649-.1198.0546-.0958-.1366.0479-.4371.1438-.3005.2636-.9288.2636-1.3658 0-.6556-.1438-.8742-.7667-1.1747-.6229-.3005-.9823-.2731-2.1563.0547l-1.3896.437v-.6283c0-2.0214-3.6417-1.5297-8.5053 1.12-4.8157 2.6225-9.5835 6.7473-14.9502 12.9483-2.0365 2.3493-3.4501 3.8244-3.1146 3.3054 1.0062-1.6664 4.2406-6.2556 8.697-12.2927 5.0313-6.8019 7.9782-11.2 8.1938-12.1561.6948-3.196-5.798-1.0107-12.6262 4.2342-3.2344 2.4858-7.2355 5.9551-13.0814 11.3912-6.13343 5.7092-8.33763 7.5395-10.25432 8.5775-3.37817 1.8576-4.192762.3824-2.87504-5.1629C4.56993 58.9918 14.0576 39.7879 23.9046 26.6485c4.5761-6.1464 13.9918-16.5541 20.6284-22.83704C46.1861 2.22707 47.5757.724636 47.6236.451466c.1677-.983411-.8625-.3824375-3.4261 2.021454zM106.969 58.2269c.791.4098.767.601-.191 1.2839-1.438 1.0107-8.2183 2.8683-12.5069 3.4419l-1.1979.1639 1.1979-.7102c2.4677-1.4478 10.2059-4.4527 11.5479-4.5073.288 0 .815.1366 1.15.3278zm-62.1246 7.8673c-.2156.3278-.9344 1.0654-1.6052 1.6936l-1.1979 1.12 1.4375-1.6663c1.3417-1.5844 2.3-2.3766 1.3656-1.1473z')
          .appeal__name Алекс Цельный
        +btn('Подписаться на телеграм', '/')