.page-footer {
  padding: 45px 20px 30px;
  color: #fff;
  background-color: #1c1c20;

  @media (min-width: $screen-sm) {
    padding: 60px 40px 45px;
  }

  @media (min-width: $screen-md) {
    padding: 60px 40px;
  }

  &__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__top {
    display: grid;
    grid-template: 'subs' 'menu' 'contacts' / 1fr;
    gap: 45px 0;

    @media (min-width: $screen-md) {
      grid-template: 'subs menu' 'subs contacts' / 7fr 5fr;
      gap: 75px 40px;
    }

    @media (min-width: $screen-lg) {
      grid-template: 'subs . menu' 'subs . contacts' / 5fr 2fr 5fr;
      gap: 75px 40px;
    }
  }

  &__subtitle {
    margin: 0 0 15px;
    font-family: $font-f;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5em;
    opacity: 0.25;

    @media (min-width: $screen-sm) {
      margin: 0 0 30px;
    }
  }

  &__subs-intro {
    max-width: 19ch;
    margin: 0 0 30px;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;

    @media (min-width: $screen-sm) {
      margin: 0 0 45px;
    }
  }

  &__subs {
    grid-area: subs;
  }

  &__subs-label {
    position: relative;
    display: block;
  }

  &__subs-input {
    display: block;
    width: 100%;
    padding: 24px 75px 24px 30px;
    margin: 0;
    font-family: $font-f;
    font-size: 14px;
    line-height: 1.45em;
    color: currentColor;
    background-color: transparent;
    border: 1px solid #34343c;
    border-radius: 0;

    &::placeholder {
      font-family: $font-f;
      color: currentColor;
      opacity: 0.25;
    }

    &:focus {
      border-color: $primary-c;
      outline: none;
    }
  }

  &__subs-submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px;
    margin: 0;
    color: currentColor;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0;

    svg {
      display: block;
      transition: 0.75s $transition-t;
      stroke: currentColor;
    }

    &:hover {

      svg {
        transform: translateX(10px);
      }
    }
  }

  &__menu {
    display: grid;
    grid-area: menu;
    gap: 0 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr;

    @media (min-width: $screen-md) {
      gap: 0 40px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto 1fr;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;
      margin: 0;
      font-size: 15px;
      line-height: 1.4em;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    a {
      position: relative;
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        transition: transform 0.5s $transition-t;
        transform: scaleX(0);
        transform-origin: center right;
      }

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;

        &::after {
          transform: scaleX(1);
          transform-origin: center left;
        }
      }
    }

    &--school {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;

      @media (min-width: $screen-sm) {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
      }
    }

    &--about {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;

      @media (min-width: $screen-sm) {
        grid-column: 4 / span 2;
        grid-row: 2 / span 1;
      }
    }
  }

  &__contacts {
    grid-area: contacts;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 75px;

    @media (min-width: $screen-md) {
      padding-top: 90px;
    }

    @media (min-width: $screen-lg) {
      padding-top: 180px;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__social {
    padding: 0;
    margin: 0 30px 5px 0;

    a {
      position: relative;
      display: block;
      color: currentColor;
      text-decoration: none;

      &::after {
        position: absolute;
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        content: '';
      }
    }

    svg {
      display: block;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.4em;
    text-align: right;
    opacity: 0.25;
  }
}
