mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top

        .page-footer__subs
          h3.page-footer__subtitle Рассылка
          form.page-footer__subs-form
            h4.page-footer__subs-intro Подписывайтесь, будьте в курсе последних статей
            .page-footer__subs-label
              input.page-footer__subs-input(type='text', placeholder='E-mail')
              button.page-footer__subs-submit(type='submit')
                svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 17 11', width='17', height='11')
                  path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h15m0 0L11.5 1M16 5.5L11.5 10')

        .page-footer__menu
          h3.page-footer__subtitle Меню
          ul.page-footer__list.page-footer__list--school
            li: a(href='/') Курсы
            li: a(href='/') Гайды
            li: a(href='/') Вебинары
            li: a(href='/') Статьи
          ul.page-footer__list.page-footer__list--about
            li: a(href='/') Об основателе
            li: a(href='/') Отзывы
            li: a(href='/') Контакты

        .page-footer__contacts
          h3.page-footer__subtitle Связаться
          ul.page-footer__list
            li: a(href='tel:') +7 (812) 712-22-21
            li: a(href='mailto:') info@mr-text.ru



      .page-footer__bottom

        ul.page-footer__socials
          li.page-footer__social
            a(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 15', width='18', height='15')
                path(d='M1.23741 6.45746c4.83182-2.11683 8.0538-3.51237 9.66589-4.18663C15.5063.345685 16.4627.0112675 17.0861.00010706c.1371-.00231098.4437.03185754.6423.19388894.1677.136815.2138.321634.2359.451351.0221.129716.0496.425213.0277.656103-.2494 2.63538-1.3287 9.03075-1.8778 11.98245-.2324 1.2489-.6898 1.6677-1.1327 1.7087-.9626.089-1.6935-.6397-2.6257-1.2541-1.4588-.9616-2.2829-1.5602-3.69889-2.4985-1.63643-1.0843-.5756-1.68033.35699-2.65434.24407-.2549 4.4849-4.1337 4.567-4.48557.0103-.04401.0198-.20805-.0771-.29466-.0969-.08662-.2399-.057-.3432-.03344-.1463.03339-2.4767 1.58226-6.99122 4.6466-.66148.45674-1.26063.67928-1.79745.66762-.5918-.01286-1.73018-.33647-2.57645-.61308C.757494 8.13385-.0674757 7.95447.00436067 7.37827.0417775 7.07814.452793 6.77121 1.23741 6.45746z')
          li.page-footer__social
            a(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                path(d='M8 1.44578h3.2771c.7711 0 1.1566.19277 1.4458.28916.3855.19277.6747.28916.9638.57831.2892.28916.482.57832.5784.96386.0963.28916.1927.6747.2891 1.44578V11.2771c0 .7711-.1928 1.1566-.2891 1.4458-.1928.3855-.2892.6747-.5784.9638-.2891.2892-.5783.482-.9638.5784-.2892.0963-.6747.1927-1.4458.2891H4.72289c-.77108 0-1.15662-.1928-1.44578-.2891-.38554-.1928-.6747-.2892-.96386-.5784-.28915-.2891-.48192-.5783-.57831-.9638-.09639-.2892-.19277-.6747-.28916-1.4458V8 4.72289c0-.77108.19277-1.15662.28916-1.44578.19277-.38554.28916-.6747.57831-.96386.28916-.28915.57832-.48192.96386-.57831.28916-.09639.6747-.19277 1.44578-.28916H8zM8 0H4.72289c-.86747 0-1.44578.192772-1.92771.385543-.48193.192771-.96385.481928-1.44578.963857-.481929.48193-.674701.86747-.963857 1.44578C.192772 3.27711.0963856 3.85542 0 4.72289V11.2771c0 .8675.192772 1.4458.385543 1.9277.192771.4819.481928.9639.963857 1.4458.48193.4819.86747.6747 1.44578.9639.48193.1927 1.06024.2891 1.92771.3855H11.2771c.8675 0 1.4458-.1928 1.9277-.3855.4819-.1928.9639-.482 1.4458-.9639s.6747-.8675.9639-1.4458c.1927-.4819.2891-1.0602.3855-1.9277V8 4.72289c0-.86747-.1928-1.44578-.3855-1.92771-.1928-.48193-.482-.96385-.9639-1.44578-.4819-.481929-.8675-.674701-1.4458-.963857C12.7229.192772 12.1446.0963856 11.2771 0H8z')
                path(d='M8 3.85542C5.68675 3.85542 3.85542 5.68675 3.85542 8c0 2.3133 1.83133 4.1446 4.14458 4.1446 2.3133 0 4.1446-1.8313 4.1446-4.1446 0-2.31325-1.8313-4.14458-4.1446-4.14458zm0 6.84338c-1.44578 0-2.69879-1.15663-2.69879-2.6988 0-1.44578 1.15662-2.69879 2.69879-2.69879 1.44578 0 2.6988 1.15662 2.6988 2.69879 0 1.44578-1.25302 2.6988-2.6988 2.6988z')
                path(d='M12.241 4.72289c.5323 0 .9638-.43153.9638-.96385 0-.53233-.4315-.96386-.9638-.96386-.5324 0-.9639.43153-.9639.96386 0 .53232.4315.96385.9639.96385z')
          li.page-footer__social
            a(href='/')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 15', width='20', height='15')
                path(d='M19.5 2.27679c-.25-.9375-.875-1.607147-1.75-1.875004C16.25 2.4e-7 9.87499 0 9.87499 0S3.62501 2.4e-7 2.00001.401786C1.12501.669643.499996 1.33929.249996 2.27679-.00000382 4.01786 0 7.5 0 7.5s.0000038 3.4821.375004 5.2232c.25.9375.874996 1.6072 1.749996 1.875C3.625 15 10 15 10 15s6.25 0 7.875-.4018c.875-.2678 1.5-.9375 1.75-1.875C20 10.9821 20 7.5 20 7.5s0-3.48214-.5-5.22321zM7.99999 10.7143V4.28571L13.25 7.5l-5.25001 3.2143z')

        .page-footer__copyright
          | © 2021 — Mr. Text
          br
          | Все права защищены