.featured-testimonials {
  padding: 45px 20px;
  overflow: hidden;
  background-color: #fff;

  @media (min-width: $screen-sm) {
    padding: 75px 40px;
  }

  @media (min-width: $screen-lg) {
    padding: 120px 30px;
  }

  &__container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 0 30px;

    @media (min-width: $screen-sm) {
      margin: 0 0 45px;
    }
  }

  &__title {
    margin: 0 auto 0 0;
    font-size: 39px;
    font-weight: 500;
    line-height: 1.1em;
  }

  &__more {

    @media (max-width: ($screen-sm - 1px)) {
      display: none;
    }
  }

  &__slider-nav {

    @media (max-width: ($screen-xs - 1px)) {
      display: none;
    }
  }

  &__slider-progressbar {
    margin-bottom: 45px;
  }
}
