.form {

  &__fieldset {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-lg) {
        margin-bottom: 3rem;
      }
    }
  }

  &__legend {
    margin-bottom: 1.5rem;
    white-space: normal;
  }
}
