.field-checkbox {
  $block-name: &;
  display: block;

  &__label {
    position: relative;
    display: inline-block;
    padding-left: 1.5em;
    margin-right: 0.6em;
    font-weight: 400;
    // line-height: $line-height;
  }

  &__text {
    display: inline-block;

    // свой чекбокс с картинкой

    // &:before {
    //   content: '';
    //   position: absolute;
    //   top: 5px;
    //   left: 0;
    //   width: 14px;
    //   height: 14px;
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox.svg');
    //   background-size: 100%;
    // }
    // @at-root input:checked ~ &:before {
    //   background-image: svg-load('../blocks/field-checkbox/bg-img/checkbox--checked.svg');
    // }

    // / свой чекбокс с картинкой

    // свой чекбокс без картинок

    @at-root input:disabled ~ & {
      cursor: not-allowed;
    }

    &:before {
      position: absolute;
      top: 5px;
      left: 0;
      width: 14px;
      height: 14px;
      content: '';
      border: 2px solid currentColor;
      border-radius: $border-r;
    }

    @at-root input:focus ~ &:before {
      // @include field-focus;
    }

    @at-root input:disabled ~ &:before {
      // border-color: $gray-light;
      // background: $gray-lighter;
    }

    &:after {
      position: absolute;
      top: 6px;
      left: 3px;
      width: 14px;
      height: 6px;
      content: '';
      border-bottom: 2px solid currentColor;
      border-left: 2px solid currentColor;
      // transition: opacity $transition-time;
      box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;
      opacity: 0;
      transform: rotate(-45deg);

      @at-root input:checked ~ & {
        opacity: 1;
      }

      @at-root input:checked:disabled ~ & {
        // border-color: $gray-light;
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
  }
}
